body{font-family: Georgia, serif; color:#172121;}
h1, h2 {color: #DC74AD;}
.evenrow{background-color:#F6E8EA}
h1 {font-size: 3em;}
h2 {font-size: 1.5em;}
body{background-color: #F6E8EA;}
a{color:#2E86AB}
nav{background-color: #DC74AD;}