body{font-family: Georgia, serif; color:#172121;}
h1, h2 {color: #DC74AD;}
.evenrow{background-color:#F6E8EA}
h1 {font-size: 3em;}
h2 {font-size: 1.5em;}
body{background-color: #F6E8EA;}
a{color:#2E86AB}
nav{background-color: #DC74AD; padding: 10px; margin-bottom: 30px;}
nav a{color:#172121; font-size: larger;}
nav a:hover{background-color:#FC7F36 ;}

.quote {float:right;}

.contact_row {
    display: flex;
    justify-content: space-around;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
.form_map {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 1px color:#172121;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
